@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Kumbh Sans',sans-serif;
    color: hsl(0,11%,12%);

}

section{
    background-color: hsl(185,75%,39%);
    display: flex;
    height: 100vh;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.card{
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    z-index: +2;
}

.top{
    background-image: url(images/bg-pattern-card.svg);
    width: 350px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:5px white solid;
    overflow: hidden;
    margin:-50px auto 30px auto;
}

.profile-pic img{

    width: 100px;
    height: auto;
    display: block;

}

.info{
    padding:0px 20px 30px;
}

.down{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;

}

span , .tag ,.from {
    color:hsl(227, 10%, 46%);
    font-weight: 400;
}

.num , .name{
    font-weight: 700;
}

.first ,.second{
    position: absolute;
}

.first{
    top:-500px;
    left:-150px;
}

.second{
    bottom: -500px;
    right: -150px;
}